# Accounts Database
MONGODB_ACCOUNTS_DATABASE=accounts
MONGODB_ACCOUNTS_PORT=27022
MONGODB_ACCOUNTS_URI=mongodb://trashify-accounts-mongodb:${MONGODB_ACCOUNTS_PORT}/${MONGODB_ACCOUNTS_DATABASE}

# JWT
JWT_ALGORITHM=HS512
JWT_ACCESS_TOKEN_SECRET=access_token_secret
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_SECRET=refresh_token_secret
JWT_REFRESH_TOKEN_TTL=86400

# Account service
ACCOUNTS_SERVICE_URL=trashify-accounts-service:50011
ACCOUNTS_SERVICE_PORT=50011
ACCOUNTS_SERVICE_DEBUGGER_PORT=9241
