# dependencies
node_modules

#LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.toc

# testing
coverage
.nyc_output

# nest
dist

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.test
.env.production

# turbo
.turbo

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# yarn integrity file
.yarn-integrity

# optional eslint cache
.eslintcache

# logs
logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.npmrc