{
    "trailingComma": "all",
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "bracketSameLine": true,
    "bracketSpacing": true
}